<div class="container">
    <main class="text-center" id="main-edit-view">
        <h1>Create view</h1>
            <form name="myCreateForm">
                <div class="form-group">
                    <label>
                        Name
                        <input class="form-control input-lg " type="text" ng-model="film.name" id="filmName" required>
                    </label>
                    <br/>
                    <label>
                        Affiche
                        <input class="form-control input-lg" type="text" ng-model="film.affiche">
                    </label>
                    <br/>
                    <label>
                        Réalisateur
                        <input class="form-control input-lg" type="text" ng-model="film.realisator">
                    </label>
                    <br/>
                    <!--<input type="text" ng-model="film.actors">-->
                    <label>
                        Date de sortie
                        <input class="form-control input-lg" type="text" ng-model="film.releaseDate">
                    </label>
                    <br/>
                    <label>
                        Note
                        <input class="form-control input-lg" type="text" ng-model="film.rating">
                    </label>
                    <br/>
                    <label>
                        <select ng-model="film.rating" name="rating"  ng-options="rate.value as rate.label for rate in filmRating" class="form-control input-lg" required></select>
                        {{film.rating}}
                    </label>
                    <br/>
                    <button class="btn btn-success btn-lg" ng-click="create(film)" ng-disabled="">CREATE</button>
                </div>
            </form>
        <a class="btn btn-default btn-sm btn-primary btn-return" ng-href="/#/">Retour à la liste</a>
    </main>
</div>