<div class="container">
    <main class="text-center mainListView">
        <h1>Liste des films disponible</h1>
        <label>
            Filtrer par nom de film
            <input class="form-control input-lg" type="text" ng-model="mySearch">
        </label>
        <ul class="list-unstyled">
            <li ng-repeat="film in films | filter:{name:mySearch}" class="filmInList">
                <p>{{ film.name }}</p>
                <a class="btn btn-default" ng-href="#/details/{{film.name}}">Détails sur le film</a>
                <a class="btn btn-primary" ng-href="#/edit/{{film.name}}">Modifier le film</a>
            </li>
        </ul>
        <a class="btn btn-lg btn-success addFilmBtn" ng-href="#/create">Ajouter un film</a>
    </main>
</div>